<!DOCTYPE html>
<html>
<head>
  <title>Puppet Singularity</title>
  <link rel="stylesheet" href="/public/stylesheet.css">
</head>
<body>
  <div class="page-container">
    <div class="navbar">
      <div class="title"><a href='/'>Puppet Singularity</a></div>
    </div>
